@inherits LayoutComponentBase

<header class="d-flex flex-wrap justify-content-start py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center ms-3 mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">魯山人Generator</span>
    </a>
</header>

<div class="container flex-shrink-0">
    @Body
</div>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">spacekey.dev</span>
    </div>
</footer>